
<html>
<head>
    <title>Gumball Machine</title>
</head>

<body>
<h1 align="center">Gumball Machine</h1>

<!-- FORM SECTION -->
<form name="form1" method="post" action="">
<form action= "/getDetails/<%=id%>" class="" id="signup-form" method="post" name="signup-form">

<p align="center"><img src="/images/gumball.jpg"  width="160" height="316"></p>
    <p>

    <div align="center">
         <input type="hidden" value="<%=state%>" name="state">
                                 <label class=
                                    "placeholder-sub">Serial No &nbsp;</label>
                                 <input id="serialNumber" name="serialNumber"
                                    placeholder="Serial #" required="required"
                                    type="text" value="<%=result.serialNumber%>" size="23">
                                    <br><br>
                                 <label class=
                                    "placeholder-sub">Model No.</label>   
                                 <input id="modelNumber" name="modelNumber"
                                    placeholder="Model #" required="required"
                                    type="text" value="<%=result.modelNumber%>" size="23"> 
                                    <br><br>
                                    <label class=
                                    "placeholder-sub">Count</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                 <input id="countGumballs" name="countGumballs"
                                    placeholder="Count" required=
                                    "required" type="number" value="<%=result.countGumballs%>">
                                     <hr>
                                 <h2><%=Msg%></h2>
                                 <hr>
    </div>
</p>
    
    <p align="center">
        <input type="submit" name="event" id="btnInsertQuarter" value="Insert Quarter">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="submit" name="event" id="btnTurnCrank" value="Turn Crank">
    </p>
</form>
<!-- END FORM SECTION -->

</body>
</html>
