<html lang="en" class="js" xmlns:fb="http://www.facebook.com/2008/fbml">
	<!--<![endif]-->
	<head>
		<title>Gumball Machine</title>
	</head>
	<body class="country-us logged-in jquery" id="yelp_main_body" >
		<div class="lang-en" id="wrap">
			<span class="offscreen" id="page-content">&nbsp;</span>
							<h2>GumBall Machines
							</h2>
							
					<div id="searchPanelContainer" class="clearfix layout-block layout-a layout-border">
							<div id="businessresults">
							<!-- <a class="ybtn ybtn-primary header-button sign-up" id="header-sign-up" href="/">Back</a>-->
								<ul>
									<% for(var i = 0;i < result.length;i++) { %> 
									<li data-key="1" class="clearfix business-summary" data-component-bound="true">
										<div class="war-businessresult businessresult">
											<div class="leftcol">
												<div >
													<%=i+1%>.&nbsp;Serial # <a href="/getDetails/<%=result[i].id%>">&nbsp;<%=result[i].serialNumber%> 
													</a>
												</div>
											</div>
											<div class="leftcol">
												<div >
													Model # :<%=result[i].modelNumber%>
												</div>
											</div>
											<div class="leftcol">
												<div align="right">
													<%=result[i].countGumballs%> countGumballs
												</div>
											</div>
										</div>
									</li>
								<%}%>
								</ul>
								
							</div>
					</div>
		</div>
	</body>
</html>
